#easy {
  font-family: "Pinyon Script";
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border-color: black;
  background-color: silver;
  font-size: 100px;
  color: black;
}

body {
  background-image: url('aldoko.jpg');
  background-size: 1350px 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}