img {
    width: 300px;
}

h1 {
    font-family: "";
    color: red;
}
body {
    background-image: url('models.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    font-family: "Arial";
    color: white;
}