/*img {*/
/*    width: 100px;*/
    
/*}*/
/*div {*/
/*    width: 200px;*/
/*    height: 100px;*/
/*}*/
h1 {
    font-family: "";
    color: red;
}
ul {
    list-style-type: block;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('models.jpg');
    background-size: 1350px 750px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    font-family: "Arial";
    color: white;
}
p {
    color: red;
    font-family: "Cursive", Cursive, serif;
}